.taracot-catalog-badge {
    font-size: 85%;
}
.uk-pagination {
    text-align: left;
}
.taracot-catalog-nav-sub > li {
    padding-left: 10px;
}
.taracot-catalog-item {
    background: transparent;
}
.taracot-catalog-item > .uk-comment-header {
    padding: 0;
    background: transparent;
}
.taracot-catalog-item > .uk-comment-header > .uk-comment-meta {
    color: #222;
}
.taracot-catalog-sku {
    background: #ccc;
    color: #222;
    display: inline-block;
    font-size: 70%;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    margin-top: 5px;
}
.taracot-catalog-price-area {
    display: inline-block;
    float: right;
    width: 150px;
}
.uk-comment-title {
    margin-top: 0px;
}
.taracot-catalog-price {
    font-size: 120%;
    font-weight: bold;
}
.taracot-catalog-currency {
    font-size: 80%;
}
.taracot-catalog-btn-buy-wrap {
    margin-top: 3px;
}
.taracot-catalog-h1 {
    margin-top: 0;
}
.taracot-catalog-subnav-pill > li {
    margin: 0;
}
.taracot-catalog-subnav-pill > li > span {
    color: #444;
    padding: 2px 0 0 0;
    font-weight: bold;
}
.taracot-catalog-subnav-pill > li > a {
    font-size: 90%;
    padding: 2px 5px 2px 5px;
}
.taracot-catalog-subnav-pill > li.uk-active > a {
    background: #666;
    box-shadow: none;
    color: #eee;
}
.taracot-catalog-align-right {
    text-align: right;
}
.taracot-catalog-search-field {
    width: 100%;
}
.taracot-catalog-search-field-wrap {
    overflow: hidden;
    padding-right: 0;
}
.taracot-catlaog-search-btn {
    float: right;
    margin-left: -3px;
}
.uk-form input[type="text"]:focus {
    background: #fff;
}
.taracot-catalog-thumb {
    width: 50px;
    height: 50px;
}
.taracot-catalog-item > .uk-comment-header > .uk-comment-title > a {
    text-decoration: none;
}
.taracot-catalog-item-shortdesc {
    font-size: 90%;
    color: #333;
}
.taracot-catalog-item-grid {
    margin-top: 27px;
}
.taracot-catalog-item-content {
    font-size: 90%;
    color: #222;
}
.taracot-catalog-item-area-price {
    padding-left: 50px;
}
.taracot-catalog-item-price {
    font-size: 160%;
    font-weight: bold;
}
.taracot-catalog-item-currency {
    font-size: 110%;
}
.taracot-catalog-item-tn {
    width: 60px;
    margin-right: 3px;
}
.taracot-catalog-item-pchars > dt {
    padding-bottom: 3px;
    background: url(/modules/catalog/images/dots.gif);
}
.taracot-catalog-item-pchars > dd {
    padding-bottom: 3px;
}
.taracot-catalog-item-desc-dt {
    display: inline-block;
    background: #fff;
    padding-right: 5px;
}
.taracot-catalog-cart-th-price, .taracot-catalog-cart-td-price, .taracot-catalog-cart-th-sum, .taracot-catalog-cart-td-sum {
    width: 100px;
}
.taracot-catalog-cart-th-amount, .taracot-catalog-cart-td-amount, .taracot-catalog-cart-input-amount {
    width: 70px;
}
.taracot-catalog-cart-table-lastrow > td {
    border-top: 2px solid #aaa;
    border-bottom: 0;
}
.taracot-catalog-cart-td-actions {
    width: 30px;
}
.taracot-catalog-checkout-alert-missing {
    font-size: 90%;
    margin-top: 10px;
    padding: 3px 6px 3px 6px;
    display: inline-block;
}
.taracot-form-help-block {
    color: #666;
    font-size: 80%;
}
.red-asterisk {
    color: red;
    font-weight: bold;
}
#taracot_catalog_cart_total_sum {
    font-size: 120%;
    font-weight: bold;
}
.taracot-catalog-checkout-ajax {
    padding-right: 7px;
}