.taracot-loading {
	position: absolute;
	background: #fff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.taracot-buttons-area {
	padding: 10px;
	margin-top: 30px;
	border-top: 1px solid #ddd;
	text-align: right;
}