<table class="uk-table uk-table-striped uk-table-hover taracot-data-table" id="taracot_table">
  <thead>
    <tr>
      <th style="width:80px">!{root.lang.__("username")}</th>
      <th>!{root.lang.__("realname")}</th>
      <th>!{root.lang.__("email")}</th>
      <th style="width:82px;text-align:center">!{root.lang.__("status")}</th>
      <th style="width:102px;text-align:center">!{root.lang.__("actions")}</th>
    </tr>
  </thead>
  <tbody>    
  </tbody>
</table>
<div id="taracot_table_pagination"></div>
<script type="text/javascript">
  var _lang_vars = {
    ajax_failed: "!{root.lang.__("ajax_failed")}"
  }
</script>
<script src="/modules/user/js/main.js">