<!DOCTYPE html>
<html dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>!{root.lang.__('module_name')}</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/uikit/uikit.min.css">
	<link rel="stylesheet" href="/css/uikit/uikit.addons.min.css">
	<link rel="stylesheet" href="/modules/cp/css/main.css">
	<link rel="stylesheet" href="/modules/textedit/css/main.css">
	<link rel="stylesheet" href="/modules/textedit/css/codemirror/codemirror.css">
	<link rel="stylesheet" href="/modules/textedit/css/codemirror/dialog.css">
	<link rel="stylesheet" href="/modules/textedit/css/codemirror/foldgutter.css">
	<script src="/js/admin.min.js"></script>
</head>

<body>
	<div class="uk-container uk-container-center">
		<h1 class="uk-margin-top">!{root.lang.__('module_name')}</h1>
		!{root.err}
	</div>
</body>

</html>