.taracot-blog-badge {
	font-size: 85%;
}
.uk-pagination {
	text-align: left;
}
.taracot-blog-post-title {
	font-size: 200%;
}
.taracot-blog-post-title > a {
	text-decoration: none;
	color: #444;
	outline: 0;
}
.taracot-blog-post-badges {
	margin-top: 5px;
	margin-bottom: 25px;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 3px 3px 3px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.taracot-blog-post-keywords {
	color: #444;
	font-size: 90%;
}
.taracot-blog-post-area {
	margin-top: 6px;
	margin-bottom: 15px;
	font-size: 90%;
}
.taracot-blog-post-content {
	margin-bottom: 10px;
}