<!DOCTYPE html>
<html dir="ltr" class="uk-height-1-1">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>!{root.message} | Taracot JS</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/uikit.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/uikit.min.js"></script>
    </head>
    <body class="uk-height-1-1">
        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 250px;">
                <h1>!{root.error.status}</h1>
                <p>!{root.message}</p>
                <pre class="uk-hidden">!{root.error.stack}</pre>
            </div>
        </div>
    </body>
</html>