<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>!{root.title} | Taracot JS</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/uikit/uikit.min.css">
    <link rel="stylesheet" href="/css/uikit/uikit.addons.min.css">!{root.extra_css}
    <link rel="stylesheet" href="/css/taracot_default.css">
    <!--[if lt IE 10]>
    <link rel="stylesheet" href="/css/taracot_default_ie.css">
    <![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit/uikit.min.js"></script>
</head>

<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <div class="uk-grid">
            <div class="uk-width-1-4 uk-margin-top uk-margin-bottom">
                <div class="taracot-img-logo uk-hidden-small">
                    <a href="/">
                        <img src="/images/logo_taracot.png">
                    </a>
                </div>
                <div class="taracot-img-logo uk-visible-small uk-hidden-medium uk-hidden-large">
                    <a class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas="" href="#taracot-nav-offcanvas"></a>
                    <a href="/">
                        <img src="/images/logo.png" class="taracot_logo_small">
                    </a>
                </div>
            </div>
            <div class="uk-width-3-4 uk-margin-top tc-auth-top">
                !{root.blocks.auth}
            </div>
        </div>
        <div id="taracot-nav-offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
                    !{root.blocks.menu.menu_uikit_offcanvas}
                </ul>
            </div>
        </div>
        <div class="uk-width-1-1 uk-hidden-small">
            !{root.blocks.menu.menu_uikit}
        </div>
        <div class="uk-width-1-1 uk-hidden-medium uk-hidden-large taracot-mobile-line"></div>
        <div class="uk-width-1-1 taracot-content taracot-box-shadow">
            !{root.content}
        </div>
        <div class="uk-width-1-1 uk-margin-top uk-margin-bottom taracot-footer">
            <a href="http://taracot.org">TaracotJS</a> &copy; 2014 Michael A. Matveev
            <br>Licensed under the terms of <a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License V3</a> (or any further version)
        </div>
    </div>
    <script>
    // Mark the current URL as active in menu
    var _u = ".taracot_menu_item_" + $(location).attr("pathname").replace(/\//g, "_").replace(/^_/, "").replace(/[^a-zA-Z0-9_\-]/g, "");
    if ($(_u)) {
        $(_u).addClass("uk-active");
        var _r = $(_u).attr("rel");
        if (_r) $("." + _r).addClass("uk-active");
    }
    var _taracot_auth_username = "!{root.auth.username}";
    </script>
</body>

</html>