<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>!{root.title} | Taracot JS</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/uikit/uikit.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/uikit/uikit.min.js"></script>
</head>

<body>
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		<div class="uk-grid" data-uk-grid-margin>
			<div class="uk-width-1-1 uk-margin-top">
			!{root.blocks.menu_uikit}
			</div>
			<div class="uk-width-1-1 uk-margin-top">
				!{root.content}
			</div>
			<div class="uk-width-1-1 uk-margin-top uk-margin-bottom">
				<small>TaracotJS &copy; 2014 Michael A. Matveev</small>
			</div>
		</div>
	</div>
	<script>
		// Mark the current URL as active in menu
		var _u="#taracot_menu_item_"+$(location).attr("pathname").replace(/\//g,"_").replace(/^_/,"").replace(/[^a-zA-Z0-9_\-]/g,"");if($(_u)){$(_u).addClass("uk-active");var _r=$(_u).attr("rel");if(_r)$("#"+_r).addClass("uk-active")}
	</script>
</body>

</html>