html, body {
	background: url('/img/gplaypattern.png') top repeat-x;
	background-size: 150px;
}

.tc-margin-bottom {
	margin-bottom: 30px;
}

.uk-navbar {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.29);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.29);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.29);
}

.tc-auth-top {
	padding-top: 10px;
	text-align: right;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
	border: 0;
}
input[type="submit"]:focus,
input[type="button"]:focus {
	outline: none;
}
input:focus,textarea:focus,select:focus{
 -webkit-box-shadow:0 0 6px #d8d8d8;
 -moz-box-shadow:0 0 5px #f0f0f0;
 box-shadow:0 0 5px #d8d8d8;
}