<div class="uk-grid uk-margin-bottom">
    <div class="uk-width-large-8-10 uk-width-medium-1-1 uk-width-small-1-1">!{root.bread.html_uikit}</div>
    <div class="uk-width-large-2-10 uk-hidden-medium uk-hidden-small taracot-catalog-right-links">
        <a href="/catalog/cart!{root.url_data}" class="uk-button uk-button-small"><span class="uk-badge">!{root.cart_items_count}</span>&nbsp;!{root.lang.__('cart')}</a>&nbsp;<a href="/catalog/orders!{root.url_data}" class="uk-button uk-button-small"><i class="uk-icon-reorder"></i>&nbsp;!{root.lang.__('my_orders')}</a>
    </div>
    <div class="uk-width-medium-1-1 uk-width-small-1-1 uk-hidden-large uk-margin-top">
        <a href="/catalog/cart!{root.url_data}" class="uk-button uk-button-small"><span class="uk-badge">!{root.cart_items_count}</span>&nbsp;!{root.lang.__('cart')}</a>&nbsp;<a href="/catalog/orders!{root.url_data}" class="uk-button uk-button-small"><i class="uk-icon-reorder"></i>&nbsp;!{root.lang.__('my_orders')}</a>
    </div>
</div>
<h1 class="taracot-catalog-h1">!{root.whitem.ptitle}</h1>
<div class="taracot-catalog-item-shortdesc">!{root.whitem.pshortdesc}</div>
<div class="uk-grid uk-grid-small taracot-catalog-item-grid">
    <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-small-1-1 taracot-catalog-item-images-gallery">
        <a href="!{root.primary_img_full}"><img src="!{root.primary_img}" class="taracot-catalog-item-primary-img uk-border-rounded uk-thumbnail" alt="#{root.whitem.ptitle}">
        </a>
        <div class="uk-margin-top">!{root.thumb_img}</div>
    </div>
    <div class="uk-width-large-5-10 uk-width-medium-5-10 uk-width-small-1-1 taracot-catalog-item-content">
        <h4>!{root.lang.__('general_info')}</h4>
        <div>!{root.pgeninfo}</div>
        <div>!{root.whitem.pcontent}</div>
        <div id="pchars_area">
            <h4>!{root.lang.__('chars')}</h4>
            <div id="pchars_list">!{root.pchars}</div>
        </div>
    </div>
    <div class="uk-width-large-2-10 uk-width-medium-2-10 uk-width-small-1-1">
        <div class="taracot-catalog-item-area-price">
            <span class="taracot-catalog-item-price">!{root.whitem.pprice}</span>&nbsp;<span class="taracot-catalog-item-currency">!{root.whitem.pcurs}</span>
            <div class="uk-margin-top">
                !{root.btn_buy}
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/js/magnific/magnific.css">
<script>
var _taracot_catalog_gallery_magnific_int = {
        tClose: "!{root.lang.__('close_esc')}",
        tLoading: "!{root.lang.__('loading')}",
        gallery: {
            tPrev: "!{root.lang.__('prev_left_arrow_key')}",
            tNext: "!{root.lang.__('next_right_arrow_key')}",
            tCounter: "!{root.lang.__('curr_of_total')}"
        },
        image: {
            tError: "!{root.lang.__('image_cannot_be_loaded')}"
        }
    },
    _taracot_catalog_init_sort = "!{root.init_sort}",
    _taracot_catalog_init_view = "!{root.init_view}",
    _taracot_catalog_init_path = "!{root.init_path}",
    _taracot_catalog_init_find = "!{root.init_find}",
    _taracot_catalog_init_page = "!{root.init_page}",
    _taracot_catalog_init_sku = "!{root.whitem.pfilename}";
</script>
<!--<script src="/js/magnific/magnific.min.js"></script>
<script src="/modules/catalog/js/frontend_item.js"></script>-->
<script src="/modules/catalog/js/frontend_item.min.js"></script>
