<div class="uk-comment taracot-catalog-item">
    <div class="uk-comment-header">
        <a href="!{root.item_url}"><img class="uk-comment-avatar uk-border-rounded taracot-catalog-thumb" src="!{root.thumb}" alt=""></a>
        <div class="taracot-catalog-price-area">
			<span class="taracot-catalog-price">!{root.price}</span>&nbsp;<span class="taracot-catalog-currency">!{root.currency}</span>
			<div class="taracot-catalog-btn-buy-wrap">
				!{root.btn_buy}
			</div>
		</div>
        <div class="uk-comment-title"><a href="!{root.item_url}">!{root.title}</a></div>
        <div class="uk-comment-meta">!{root.desc}</div>
        <div class="taracot-catalog-sku">!{root.lang.__('sku')}: !{root.sku}</div>
    </div>
</div>