<!DOCTYPE html>
<html dir="ltr" class="uk-height-1-1">
    <head>
    	<meta charset="utf-8">
        <title>!{root.lang.__("auth")}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/uikit.min.css">
        <link rel="stylesheet" href="/modules/auth/css/main.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/uikit.min.js"></script> 
        <script src="/js/helper.js"></script> 
        <script src="/modules/auth/js/main.js"></script> 
    </head>
    <body class="uk-height-1-1">
        <div class="uk-vertical-align uk-text-center uk-height-1-1" id="auth_box_wrap">
            <div class="uk-vertical-align-middle" style="width: 250px;" id="auth_box">
                <form class="uk-panel uk-panel-box uk-form">
                    <div class="uk-form-row uk-hidden" id="auth_error_box">
                        <div class="uk-alert uk-alert-danger" id="auth_error_msg"></div>
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large taracot-auth-field" type="text" id="auth_username" placeholder="!{root.lang.__("username")}">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large taracot-auth-field" type="password" id="auth_password" placeholder="!{root.lang.__("password")}">
                    </div>
                    <div class="uk-form-row">
                        <a class="uk-width-1-1 uk-button" id="auth_login" href="#">!{root.lang.__("login")}</a>
                    </div>
                    <div class="uk-form-row uk-text-small">
                        <a class="uk-float-right uk-link uk-link-muted" href="#" id="auth_forgot">!{root.lang.__("forgotpassword")}</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-vertical-align uk-text-center uk-height-1-1 uk-hidden" id="wait_box_wrap">
            <div class="uk-vertical-align-middle">
                <div id="floatingCirclesG">
                    <div class="f_circleG" id="frotateG_01"></div>
                    <div class="f_circleG" id="frotateG_02"></div>
                    <div class="f_circleG" id="frotateG_03"></div>
                    <div class="f_circleG" id="frotateG_04"></div>
                    <div class="f_circleG" id="frotateG_05"></div>
                    <div class="f_circleG" id="frotateG_06"></div>
                    <div class="f_circleG" id="frotateG_07"></div>
                    <div class="f_circleG" id="frotateG_08"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var _lang_vars = {
                ajax_failed: "!{root.lang.__("ajax_failed")}",
                invalid_username_syntax: "!{root.lang.__("invalid_username_syntax")}",
                invalid_password_syntax: "!{root.lang.__("invalid_password_syntax")}"
            }
            var redirect_url = "!{root.redirect}" || "/";
        </script>
        <script src="/modules/auth/js/main.js"></script>
    </body>
</html>