<div class="taracot-chat">
    <h1>!{root.lang.__('module_name')}</h1>
    <div class="uk-grid uk-grid-small" id="taracot-chat-grid">
        <div class="uk-width-large-8-10 uk-width-medium-8-10 uk-width-small-1-1">
            <ul id="taracot_chat_box_sw" class="uk-tab" data-uk-tab="{connect:'#taracot_chat_box_tabs'}">
                <li id="taracot_chat_public"><a href="">!{root.lang.__('public_room')}</a></li>
            </ul>
            <ul id="taracot_chat_box_tabs" class="uk-switcher taracot-chat-tabs">
                <li>
                    <div class="taracot-chat-box-area taracot-chat-box">
                    </div>
                </li>
            </ul>
            <div class="taracot-chat-reply-wrap uk-form">
                <input type="text" class="uk-width-1-1" id="taracot_chat_reply">
            </div>
        </div>
        <div class="uk-width-large-2-10 uk-width-medium-2-10 uk-width-small-1-1 uk-hidden-small">
            <div class="taracot-chat-users-online">
            </div>
        </div>
    </div>
    <div class="taracot-loading uk-vertical-align uk-text-center" style="display:none">
        <div class="uk-vertical-align-middle">
            <img src="/modules/chat/images/loading_36x36.gif" width="36" height="36" style="width:36px;height:36px" alt="">
        </div>
    </div>
</div>
<script>
var current_username = "!{root.current_username}",
    current_user = !{
        root.current_user
    },
    current_locale = "!{root.current_locale}",
    users_online = !{
        root.users_online
    },
    messages_data = !{
        root.messages_data
    },
    chat_users_data = !{
        root.chat_users_data
    },
    _lang_vars = {
        ajax_failed: "!{root.lang.__('ajax_failed')}",
        user: "!{root.lang.__('user')}",
        is_now_online: "!{root.lang.__('is_now_online')}",
        is_now_offline: "!{root.lang.__('is_now_offline')}",
        cmd_list: !{
            root.cmd_list
        }
    };
</script>
<!--<script type="text/javascript" src="/js/helper.js"></script>
<script type="text/javascript" src="/js/socket.io.min.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/string.min.js"></script>
<script type="text/javascript" src="/js/uikit/addons/notify.min.js"></script>
<script type="text/javascript" src="/js/uikit/addons/tooltip.min.js"></script>
<script type="text/javascript" src="/modules/chat/js/chat.js"></script>-->
<script type="text/javascript" src="/modules/chat/js/chat.min.js"></script>