<div class="uk-grid">
    <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-small-1-1">
        <h1>!{root.lang.__('module_name')}</h1>
    </div>
    <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-small-1-1 taracot-billing-funds-wrap">
        <span class="uk-hidden-small uk-float-right">!{root.lang.__('funds')}: <span class="uk-badge taracot-billing-funds">0</span>&nbsp;<span class="taracot-billing-funds-currency"></span></span>
        <span class="uk-hidden-large uk-hidden-medium">!{root.lang.__('funds')} <span class="uk-badge taracot-billing-funds">0</span>&nbsp;<span class="taracot-billing-funds-currency"></span></span>
    </div>
</div>
<ul class="uk-tab uk-margin-top" data-uk-tab="{connect:'#taracot_billing_tabs'}">
    <li>
        <a href="" data-uk-tooltip="{delay:500,pos:'bottom-left'}" title="!{root.lang.__('hosting_accounts_hint')}">!{root.lang.__('hosting')}</a>
    </li>
    <li>
        <a href="" data-uk-tooltip="{delay:500,pos:'bottom-left'}" title="!{root.lang.__('domain_names_hint')}">!{root.lang.__('domains')}</a>
    </li>
    <li>
        <a href="" data-uk-tooltip="{delay:500,pos:'bottom-left'}" title="!{root.lang.__('customer_profile_hint')}">!{root.lang.__('profile')}</a>
    </li>
    <li>
        <a href="" data-uk-tooltip="{delay:500,pos:'bottom-left'}" title="!{root.lang.__('payment_hint')}">!{root.lang.__('payment')}</a>
    </li>
    <li>
        <a href="" data-uk-tooltip="{delay:500,pos:'bottom-left'}" title="!{root.lang.__('transaction_history_hint')}">!{root.lang.__('history')}</a>
    </li>
</ul>
<ul id="taracot_billing_tabs" class="uk-panel uk-panel-box uk-switcher taracot_billing_tabs_panel">
    <li>
        <button class="uk-button uk-button-small uk-button-success" id="btn_hosting_add"><i class="uk-icon-plus"></i>&nbsp;!{root.lang.__('btn_hosting_add')}</button>
        <div class="uk-margin-top">
            <table class="uk-table uk-table-striped uk-table-hover" id="taracot_billing_table_hosting">
                <thead>
                    <th>
                        !{root.lang.__('hosting_account')}
                    </th>
                    <th style="width:150px;text-align:center">
                        !{root.lang.__('hosting_plan')}
                    </th>
                    <th style="width:80px;text-align:center">
                        !{root.lang.__('hosting_days')}
                    </th>
                    <th style="width:30px;text-align:center">
                    </th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <button class="uk-button uk-button-small uk-button-success" id="btn_domain_add"><i class="uk-icon-plus"></i>&nbsp;!{root.lang.__('btn_domain_add')}</button>
        <div class="uk-margin-top">
            <table class="uk-table uk-table-striped uk-table-hover" id="taracot_billing_table_domains">
                <thead>
                    <th>
                        !{root.lang.__('domain_name')}
                    </th>
                    <th style="width:130px;text-align:center">
                        !{root.lang.__('expiration_date')}
                    </th>
                    <th style="width:30px;text-align:center">
                    </th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <div class="uk-alert uk-alert-danger" style="display:none" id="profile_error"></div>
        <div id="billing_profile_wrap">
            <h2>!{root.lang.__('dp_h1_common')}</h2>
            <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_common_hint')}</div>
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="n1e">!{root.lang.__('dp_last_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="n1e" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_last_name_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="n2e">!{root.lang.__('dp_first_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="n2e" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_first_name_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="n3e">!{root.lang.__('dp_middle_name_first')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="n3e" class="uk-form-width-small taracot-form-profile-control taracot-dp-field taracot-extra-small-text-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_middle_name_first_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="country">!{root.lang.__('dp_country')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <select id="country" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field"></select>
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_country_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="city">!{root.lang.__('dp_city')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="city" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_city_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="state">!{root.lang.__('dp_state')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="state" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_state_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="postcode">!{root.lang.__('dp_postcode')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="postcode" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_postcode_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="addr">!{root.lang.__('dp_addr')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="addr" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_addr_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="birth_date">!{root.lang.__('dp_birth_date')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="birth_date" class="uk-form-width-small taracot-form-profile-control taracot-dp-field" data-uk-datepicker="{weekstart:!{root.lang.__('weekstart')}, format:'!{root.lang.__('date_format')}', i18n: { months: !{root.lang.__('months')}, weekdays: !{root.lang.__('weekdays')} } }">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_birth_date_hint')}:&nbsp;!{root.lang.__('date_format')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="private">!{root.lang.__('dp_private')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <select id="private" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                            <option value="1">!{root.lang.__('dp_show_private')}</option>
                            <option value="0">!{root.lang.__('dp_hide_private')}</option>
                        </select>
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_private_hint')}
                        </p>
                    </div>
                </div>
            </div>
            <h2>!{root.lang.__('dp_h1_contacts')}</h2>
            <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_contacts_hint')}</div>
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="phone">!{root.lang.__('dp_phone')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="phone" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_phone_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="fax">!{root.lang.__('dp_fax')}</label>
                    <div class="uk-form-controls">
                        <input type="text" id="fax" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_fax_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="email">!{root.lang.__('dp_email')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="email" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_email_hint')}
                        </p>
                    </div>
                </div>
            </div>
            <h2>!{root.lang.__('dp_h1_ru')}</h2>
            <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_ru_hint')}</div>
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="n1r">!{root.lang.__('dp_last_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="n1r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_last_name_ru_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="n2r">!{root.lang.__('dp_first_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="n2r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_first_name_ru_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="n3r">!{root.lang.__('dp_middle_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="n3r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_middle_name_ru_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="passport">!{root.lang.__('dp_passport')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="passport" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_passport_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="addr_ru">!{root.lang.__('dp_addr_ru')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="addr_ru" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_addr_ru_hint')}
                        </p>
                    </div>
                </div>
            </div>
            <h2>!{root.lang.__('dp_h1_org')}</h2>
            <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_org_hint')}</div>
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="org_r">!{root.lang.__('dp_org_r')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="org_r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_org_r_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="org">!{root.lang.__('dp_org')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="org" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_org_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="code">!{root.lang.__('dp_code')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="code" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_code_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="kpp">!{root.lang.__('dp_kpp')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <input type="text" id="kpp" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                        <p class="uk-form-help-block">
                            !{root.lang.__('dp_kpp_hint')}
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="taracot-billing-profile-buttons uk-margin-top uk-margin-bottom">
                <button id="btn_billing_profile_save" class="uk-button uk-button-success"><span id="btn_billing_profile_save_loading" style="display:none"><img src="/modules/billing_frontend/images/loading_16x16.gif" style="width:16px;height:16px;">&nbsp;</span>!{root.lang.__('save_profile')}</button>
            </div>
        </div>
    </li>
    <li>
    </li>
    <li>
        <div>
            <table class="uk-table uk-table-striped uk-table-hover" id="taracot_billing_table_transactions">
                <thead>
                    <th style="width:150px">
                        !{root.lang.__('trans_time')}
                    </th>
                    <th>
                        !{root.lang.__('trans_type')}
                    </th>
                    <th style="width:130px">
                        !{root.lang.__('trans_sum')}
                    </th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </li>
</ul>
<div class="uk-modal" id="dlg_hosting_add">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2>!{root.lang.__('add_hosting_account')}</h2>
        </div>
        <div class="uk-alert uk-alert-danger" style="display:none" id="hosting_add_error"></div>
        <div class="uk-form">
            <div class="uk-form-row">
                <label class="uk-form-label" for="dh_username">!{root.lang.__('dh_username')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="dh_username" class="uk-form-width-medium taracot-hosting-add-control">
                    <p class="uk-form-help-block">
                        !{root.lang.__('dh_username_hint')}
                    </p>
                </div>
            </div>
            <div class="uk-grid uk-form-row">
                <div class="uk-width-large-3-4 uk-width-medium-3-4 uk-width-small-1-1">
                    <label class="uk-form-label" for="dh_plan">!{root.lang.__('dh_plan')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <select id="dh_plan" class="uk-form-width-large taracot-hosting-add-control taracot-hosting-add-calc-field" style="z-index:9000"></select>
                        <p class="uk-form-help-block">
                            !{root.lang.__('dh_plan_hint')}
                        </p>
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-medium-3-4 uk-width-small-1-1">
                    <div class="uk-margin-top uk-hidden-large uk-hidden-medium"></div>
                    <label class="uk-form-label" for="dh_months">!{root.lang.__('dh_months')}&nbsp;<span class="taracot-red-asterisk">*</span>
                    </label>
                    <div class="uk-form-controls">
                        <select id="dh_months" class="uk-form-width-small taracot-semi-small-text-field taracot-hosting-add-control taracot-hosting-add-calc-field"></select>
                        <p class="uk-form-help-block">
                            !{root.lang.__('dh_months_hint')}
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="dh_password">!{root.lang.__('dh_password')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="password" id="dh_password" class="uk-form-width-small taracot-hosting-add-control">&nbsp;
                    <input type="password" id="dh_password_repeat" class="uk-form-width-small taracot-hosting-add-control">
                    <p class="uk-form-help-block">
                        !{root.lang.__('dh_password_hint')}
                    </p>
                </div>
            </div>
            <div class="uk-margin-top uk-margin-bottom uk-panel uk-panel-box">
                <p>
                    <i class="uk-icon-info"></i>&nbsp;!{root.lang.__('total_cost_of_service')}: <span id="dlg_hosting_add_cost">0</span>
                </p>
            </div>
        </div>
        <div class="uk-modal-footer">
            <button id="btn_hosting_account_create" class="uk-button uk-button-success taracot-hosting-add-btn"><span id="btn_hosting_account_create_loading" style="display:none"><img src="/modules/billing_frontend/images/loading_16x16.gif" style="width:16px;height:16px;">&nbsp;</span>!{root.lang.__('create')}</button>&nbsp;
            <button class="uk-button uk-modal-close taracot-hosting-add-btn">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div class="uk-modal" id="dlg_hosting_up">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2>!{root.lang.__('prolongation_hosting_account')}</h2>
        </div>
        <div class="uk-alert uk-alert-danger" style="display:none" id="hosting_up_error"></div>
        <p>!{root.lang.__('dh_username')}: <span id="current_hosting_up_account" class="dlg_hosting_up_info"></span>, !{root.lang.__('dh_plan_small')}: <span id="current_hosting_up_plan" class="dlg_hosting_up_info"></span></p>
        <div class="uk-form">
            <div class="uk-form-row">
                <div class="uk-margin-top uk-hidden-large uk-hidden-medium"></div>
                <label class="uk-form-label" for="dhp_months">!{root.lang.__('dhp_months')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <select id="dhp_months" class="uk-form-width-small taracot-semi-small-text-field taracot-hosting-up-control taracot-hosting-up-calc-field"></select>
                    <p class="uk-form-help-block">
                        !{root.lang.__('dhp_months_hint')}
                    </p>
                </div>
            </div>
            <div class="uk-margin-top uk-margin-bottom uk-panel uk-panel-box">
                <p>
                    <i class="uk-icon-info"></i>&nbsp;!{root.lang.__('total_cost_of_service')}: <span id="dlg_hosting_up_cost">0</span>
                </p>
            </div>
        </div>
        <div class="uk-modal-footer">
            <button id="btn_hosting_account_update" class="uk-button uk-button-success taracot-hosting-up-btn"><span id="btn_hosting_account_update_loading" style="display:none"><img src="/modules/billing_frontend/images/loading_16x16.gif" style="width:16px;height:16px;">&nbsp;</span>!{root.lang.__('prolong')}</button>&nbsp;
            <button class="uk-button uk-modal-close taracot-hosting-up-btn">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
var _lang_vars = {
        ajax_failed: "!{root.lang.__('ajax_failed')}",
        no_records: "!{root.lang.__('no_records')}",
        form_contains_errors: "!{root.lang.__('form_contains_errors')}",
        profile_save_success: "!{root.lang.__('profile_save_success')}",
        per_month: "!{root.lang.__('per_month')}",
        hosting_add_success: "!{root.lang.__('hosting_add_success')}",
        hosting_prolong_success: "!{root.lang.__('hosting_prolong_success')}"
    },
    current_locale = "!{root.current_locale}",
    init_hosting = !{
        root.hosting
    },
    init_domains = !{
        root.domains
    },
    init_misc = !{
        root.misc
    },
    init_accounts = !{
        root.accounts
    },
    country_list = !{
        root.country_list
    },
    init_funds = !{
        root.funds
    },
    init_profile_data = !{
        root.profile_data
    },
    init_transactions = !{
        root.transactions
    },
    transactions_i18n = {
        domain_reg: "!{root.lang.__('domain_reg')}",
        domain_up: "!{root.lang.__('domain_up')}",
        hosting_reg: "!{root.lang.__('hosting_reg')}</option>",
        hosting_up: "!{root.lang.__('hosting_up')}",
        funds_replenishment: "!{root.lang.__('funds_replenishment')}",
        other: "!{root.lang.__('other')}"
    },
    init_misc_hash = {},
    billing_date_format = "!{root.lang.__('date_format')}";
for (var imi in init_misc) init_misc_hash[init_misc[imi].id] = init_misc[imi][current_locale];
$('.taracot-billing-funds-currency').html(init_misc_hash.currency);
for (var ci in country_list) {
    for (var key in country_list[ci]) break;
    $('#country').append('<option value="' + key + '">' + country_list[ci][key] + '</option>');
}
$('.taracot-billing-funds').html(init_funds);
</script>
<script src="/js/moment.min.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/uikit/addons/notify.min.js"></script>
<script src="/modules/billing_frontend/js/billing_frontend.js"></script>
