<!-- Accounts/domains list -->
<div class="taracot-area" id="billing_area_list">
    <h1>!{root.lang.__('billing_customers')}</h1>
    <div class="uk-form uk-float-right uk-margin-bottom">
        <div class="uk-form-icon"><i class="uk-icon-search"></i>
            <input type="text" class="uk-form-width-medium" placeholder="!{root.lang.__('search_field')}" id="taracot_table_filter">
        </div>
    </div>
    <div class="uk-margin-top uk-width-1-1 uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover taracot-data-table" id="taracot_table">
            <thead>
                <tr>
                    <th class="taracot_table_sortable" rel="taracot_table_sortable_username">!{root.lang.__('user')}
                        <span class="taracot-sort-marker">&nbsp;<i class="uk-icon-sort-asc"></i>
                    </span>
                    </th>
                    <th class="taracot_table_sortable" rel="taracot_table_sortable_billing_funds" style="width:100px">!{root.lang.__('funds')}</th>
                    <th style="width:100px;text-align:center">!{root.lang.__('actions')}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="taracot-loading uk-hidden uk-vertical-align uk-text-center">
        <div class="uk-vertical-align-middle">
            <img src="/modules/user/images/loading_36x36.gif" width="36" height="36" style="width:36px;height:36px" alt="">
        </div>
    </div>
    <div id="taracot_table_pagination" class="uk-margin-top"></div>
</div>
<!-- Profile edit form -->
<div class="taracot-area" id="billing_area_profile" style="display:none">
    <h1 id="billing_h1_profile">!{root.lang.__('edit_profile')}: <span id="profile_edit_username"></span></h1>
    <div class="uk-alert uk-alert-danger" style="display:none" id="profile_error"></div>
    <h2>!{root.lang.__('dp_h1_funds')}</h2>
    <div class="uk-form uk-form-horizontal">
        <div class="uk-form-row">
            <label class="uk-form-label" for="bfunds">!{root.lang.__('funds')}</label>
            <div class="uk-form-controls">
                <input type="text" id="bfunds" class="uk-form-width-small taracot-form-profile-control">&nbsp;<span id="bfunds_currency"></span>
                <p class="uk-form-help-block">
                    !{root.lang.__('funds_hint')}
                </p>
            </div>
        </div>
    </div>
    <h2>!{root.lang.__('profile')}</h2>
    <div class="uk-panel uk-panel-box uk-margin-top uk-margin-bottom">
        <ul data-uk-switcher="{connect:'#billing_profile_toggle'}" class="uk-subnav uk-subnav-pill">
            <li>
                <a href="" id="toggle_profile_dontedit">!{root.lang.__('dont_edit_profile')}</a>
            </li>
            <li>
                <a href="" id="toggle_profile_edit">!{root.lang.__('edit_profile')}</a>
            </li>
        </ul>
    </div>
    <ul id="billing_profile_toggle" class="uk-switcher">
        <li></li>
        <li>
            <div id="billing_profile_wrap">
                <h2>!{root.lang.__('dp_h1_common')}</h2>
                <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_common_hint')}</div>
                <div class="uk-form uk-form-horizontal">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="n1e">!{root.lang.__('dp_last_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="n1e" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_last_name_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="n2e">!{root.lang.__('dp_first_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="n2e" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_first_name_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="n3e">!{root.lang.__('dp_middle_name_first')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="n3e" class="uk-form-width-small taracot-form-profile-control taracot-dp-field taracot-extra-small-text-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_middle_name_first_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="country">!{root.lang.__('dp_country')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <select id="country" class="uk-form-width-large taracot-form-profile-control taracot-dp-field"></select>
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_country_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="city">!{root.lang.__('dp_city')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="city" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_city_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="state">!{root.lang.__('dp_state')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="state" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_state_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="postcode">!{root.lang.__('dp_postcode')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="postcode" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_postcode_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="addr">!{root.lang.__('dp_addr')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="addr" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_addr_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="birth_date">!{root.lang.__('dp_birth_date')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="birth_date" class="uk-form-width-small taracot-form-profile-control taracot-dp-field" data-uk-datepicker="{weekstart:!{root.lang.__('weekstart')}, format:'!{root.lang.__('date_format')}', i18n: { months: !{root.lang.__('months')}, weekdays: !{root.lang.__('weekdays')} } }">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_birth_date_hint')}:&nbsp;!{root.lang.__('date_format')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="private">!{root.lang.__('dp_private')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <select id="private" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                                <option value="1">!{root.lang.__('dp_show_private')}</option>
                                <option value="0">!{root.lang.__('dp_hide_private')}</option>
                            </select>
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_private_hint')}
                            </p>
                        </div>
                    </div>
                </div>
                <h2>!{root.lang.__('dp_h1_contacts')}</h2>
                <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_contacts_hint')}</div>
                <div class="uk-form uk-form-horizontal">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="phone">!{root.lang.__('dp_phone')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="phone" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_phone_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="fax">!{root.lang.__('dp_fax')}</label>
                        <div class="uk-form-controls">
                            <input type="text" id="fax" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_fax_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="email">!{root.lang.__('dp_email')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="email" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_email_hint')}
                            </p>
                        </div>
                    </div>
                </div>
                <h2>!{root.lang.__('dp_h1_ru')}</h2>
                <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_ru_hint')}</div>
                <div class="uk-form uk-form-horizontal">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="n1r">!{root.lang.__('dp_last_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="n1r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_last_name_ru_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="n2r">!{root.lang.__('dp_first_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="n2r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_first_name_ru_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="n3r">!{root.lang.__('dp_middle_name')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="n3r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_middle_name_ru_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="passport">!{root.lang.__('dp_passport')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="passport" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_passport_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="addr_ru">!{root.lang.__('dp_addr_ru')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="addr_ru" class="uk-form-width-large taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_addr_ru_hint')}
                            </p>
                        </div>
                    </div>
                </div>
                <h2>!{root.lang.__('dp_h1_org')}</h2>
                <div class="taracot-h1-hint-margin">!{root.lang.__('dp_h1_org_hint')}</div>
                <div class="uk-form uk-form-horizontal">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="org_r">!{root.lang.__('dp_org_r')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="org_r" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_org_r_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="org">!{root.lang.__('dp_org')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="org" class="uk-form-width-medium taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_org_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="code">!{root.lang.__('dp_code')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="code" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_code_hint')}
                            </p>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="kpp">!{root.lang.__('dp_kpp')}&nbsp;<span class="taracot-red-asterisk">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input type="text" id="kpp" class="uk-form-width-small taracot-form-profile-control taracot-dp-field">
                            <p class="uk-form-help-block">
                                !{root.lang.__('dp_kpp_hint')}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <h2>!{root.lang.__('transactions')}&nbsp;<button class="uk-button uk-button-small" id="btn_add_transaction"><i class="uk-icon-plus"></i></button></h2>
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed" id="table_transactions">
        <thead>
            <th style="width:150px">!{root.lang.__('time')}</th>
            <th>!{root.lang.__('transaction')}</th>
            <th style="width:120px">!{root.lang.__('sum')}</th>
            <th style="width:80px;text-align:center">!{root.lang.__('actions')}</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="uk-margin taracot-btn-margin">
        <button id="btn_profile_save" class="uk-button uk-button-success">!{root.lang.__('save')}</button>&nbsp;
        <button id="btn_profile_cancel" class="uk-button">!{root.lang.__('cancel')}</button>
    </div>
</div>
<div class="uk-modal" id="dlg_trans">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h1 id="h1_trans"></h1>
        </div>
        <div class="uk-alert uk-alert-danger" style="display:none" id="trans_error"></div>
        <div class="uk-form uk-form-horizontal">
            <div class="uk-form-row">
                <label class="uk-form-label" for="private">
                    !{root.lang.__('trans_type')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <select id="trans_type" class="uk-form-width-large taracot-form-trans-control">
                        <option value="domain_reg">!{root.lang.__('domain_reg')}</option>
                        <option value="domain_up">!{root.lang.__('domain_up')}</option>
                        <option value="hosting_reg">!{root.lang.__('hosting_reg')}</option>
                        <option value="hosting_up">!{root.lang.__('hosting_up')}</option>
                        <option value="funds_replenishment">!{root.lang.__('funds_replenishment')}</option>
                        <option value="other">!{root.lang.__('other')}</option>
                    </select>
                    <p class="uk-form-help-block">
                        !{root.lang.__('trans_type_hint')}
                    </p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="trans_obj">!{root.lang.__('trans_obj')}
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="trans_obj" class="uk-form-width-medium taracot-form-trans-control">
                    <p class="uk-form-help-block">
                        !{root.lang.__('trans_obj_hint')}
                    </p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="trans_date">!{root.lang.__('trans_date')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="trans_date" class="uk-form-width-small taracot-form-trans-control" data-uk-datepicker="{weekstart:!{root.lang.__('weekstart')}, format:'!{root.lang.__('date_format')}', i18n: { months: !{root.lang.__('months')}, weekdays: !{root.lang.__('weekdays')} } }">
                    <p class="uk-form-help-block">
                        !{root.lang.__('trans_date_format')}:&nbsp;!{root.lang.__('date_format')}
                    </p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="trans_time">!{root.lang.__('trans_time')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="trans_time" class="uk-form-width-small taracot-form-trans-control" data-uk-timepicker="{format:'!{root.lang.__('time_format_hours')}'}">
                    <p class="uk-form-help-block">
                        !{root.lang.__('trans_time_format')}:&nbsp;!{root.lang.__('time_format_desc')}
                    </p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="trans_sum">!{root.lang.__('trans_sum')}&nbsp;<span class="taracot-red-asterisk">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="trans_sum" class="uk-form-width-small taracot-form-trans-control">
                    <p class="uk-form-help-block">
                        !{root.lang.__('trans_sum_format')}
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-modal-footer">
            <button id="btn_transaction_save" class="uk-button uk-button-success"><span id="btn_transaction_save_loading" style="display:none"><img src="/modules/billing_profiles/images/loading_16x16.gif" style="width:16px;height:16px;">&nbsp;</span>!{root.lang.__('save')}</button>&nbsp;
            <button class="uk-button uk-modal-close">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
var _lang_vars = {
        ajax_failed: "!{root.lang.__('ajax_failed')}",
        no_res: "!{root.lang.__('no_results_in_table')}",
        form_contains_errors: "!{root.lang.__('form_contains_errors')}",
        profile_save_success: "!{root.lang.__('profile_save_success')}",
        new_transaction: "!{root.lang.__('new_transaction')}",
        edit_transaction: "!{root.lang.__('edit_transaction')}",
        trans_save_success: "!{root.lang.__('trans_save_success')}",
        no_transaction_records: "!{root.lang.__('no_transaction_records')}",
        trans_delete_success: "!{root.lang.__('trans_delete_success')}",
        trans_delete_confirm: "!{root.lang.__('trans_delete_confirm')}"
    },
    save_title = $(document).find("title").text(),
    billing_date_format = "!{root.lang.__('date_format')}",
    billing_time_format = "!{root.lang.__('time_format')}",
    current_locale = "!{root.current_locale}",
    current_user = "!{root.current_user}",
    country_list = !{
        root.country_list
    },
    init_misc = !{
        root.misc
    },
    transactions_i18n = {
        domain_reg: "!{root.lang.__('domain_reg')}",
        domain_up: "!{root.lang.__('domain_up')}",
        hosting_reg: "!{root.lang.__('hosting_reg')}</option>",
        hosting_up: "!{root.lang.__('hosting_up')}",
        funds_replenishment: "!{root.lang.__('funds_replenishment')}",
        other: "!{root.lang.__('other')}"
    },
    current_currency = '';
for (var im in init_misc)
    if (init_misc[im].id == 'currency') current_currency = init_misc[im][current_locale];
for (var ci in country_list) {
    for (var key in country_list[ci]) break;
    $('#country').append('<option value="' + key + '">' + country_list[ci][key] + '</option>');
}
$('#bfunds_currency').html(current_currency);
</script>
<!--<script src="/js/moment.min.js"></script>
<script src="/js/jquery.medved.loading.js"></script>
<script src="/js/uikit/addons/autocomplete.min.js"></script>
<script src="/js/uikit/addons/datepicker.min.js"></script>
<script src="/js/uikit/addons/timepicker.min.js"></script>
<script src="/modules/billing_profiles/js/billing_profiles_cp.js"></script>-->
<script src="/modules/billing_profiles/js/billing_profiles.min.js"></script>