.taracot-porfolio-area-item {
    text-align: center;
    width: 250px;
    padding: 6px;
    border: 1px solid #ccc;
    margin-right: 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
    background: #eee;
}

.taracot-porfolio-area-item:hover {
    background: #ccc;
}

.taracot-porfolio-area-item-badge {
    margin-top: 10px;
    padding: 3px 9px 3px 9px;
}

.taracot-porfolio-area-item-image {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.taracot-portfolio-screnshot-small {
    width: 200px;
    text-align: center;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 6px;
}

.taracot-portfolio-screnshot-small-text {
    margin-top: 5px;
    font-size: 80%;
    color: #555;
}

.taracot-portfolio-item-desc-wrap {
    background: #fff;
    margin-top: 25px;
    padding: 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.taracot-portfolio-screenshots-small-wrap {
	margin-left: 30px;
}