body {
	background: #444;
}
.uk-notify-message {
	text-align: center;
	color: #fff;
}
.uk-notify-message-danger {
	background: red;
}
#auth_captcha_img {
	cursor: pointer;
}
#auth_box {
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}
.taracot_cp_auth_footer {
    margin-top: -2px;
    color: #aaa;
    padding: 5px;
    padding-top: 8px;
    text-align: center;
    font-size: 80%;
}
.taracot_cp_auth_footer > a {
	color: #aaa;
	text-decoration: none;
	border-bottom: 1px dotted #eee;
}
.taracot_cp_auth_footer > a:hover, .taracot_cp_auth_footer > a:focus, .taracot_cp_auth_footer > a:active {
	color: #eee;
}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
	border: 0;
}
input[type="submit"]:focus,
input[type="button"]:focus {
	outline: none;
}
input:focus,textarea:focus,select:focus{
 -webkit-box-shadow:0 0 6px #aaa;
 -moz-box-shadow:0 0 5px #aaa;
 box-shadow:0 0 5px #aaa;
}