#profile_set_avatar {
	cursor: pointer;
}
.uk-notify {
	z-index: 5000;
}
.uk-notify-message {
	text-align: center;
	color: #fff;
}
.uk-notify-message-danger {
	background: red;
}
.uk-notify-message-success {
	background: green;
}
#profile_set_avatar:hover, #profile_set_avatar:active, #profile_set_avatar:focus {
	color: #fff;
	outline: 0;
}