.taracot-social-header {
    font-size: 32px;
    margin-bottom: 10px;
    padding-top: 4px;
}
.taracot-social-title {
    font-size: 32px;
    margin-bottom: 20px;
    padding-top: 7px;
}
.uk-comment-avatar {
    width: 39px;
    height: 39px;
}
.taracot-mypage-avatar {
    width: 53px;
    height: 53px;
    float: left;
    margin-right: 10px;
}
.taracot-social-username {
    font-weight: bold;
}
.taracot-mypage-avatar-wrap {
    width: 53px;
}
.taracot-mypage-userdata-wrap {
    margin-left: -15px;
}
.uk-notify{position:fixed;top:10px;left:10px;z-index:1040;-moz-box-sizing:border-box;box-sizing:border-box;width:350px}.uk-notify-top-right,.uk-notify-bottom-right{left:auto;right:10px}.uk-notify-top-center,.uk-notify-bottom-center{left:50%;margin-left:-175px}.uk-notify-bottom-left,.uk-notify-bottom-right,.uk-notify-bottom-center{top:auto;bottom:10px}@media (max-width: 479px){.uk-notify{left:10px;right:10px;width:auto;margin:0}}.uk-notify-message{position:relative;margin-bottom:10px;padding:15px;background:#444;color:#fff;font-size:16px;line-height:22px;cursor:pointer}.uk-notify-message > .uk-close{visibility:hidden;float:right}.uk-notify-message:hover > .uk-close{visibility:visible}.uk-notify-message-primary{background:#ebf7fd;color:#2d7091}.uk-notify-message-success{background:#f2fae3;color:#659f13}.uk-notify-message-warning{background:#fffceb;color:#e28327}.uk-notify-message-danger{background:#fff1f0;color:#d85030}
.uk-notify-message {
    text-align: center;
    color: #fff;
}
.uk-notify-message-danger {
    background: red;
}
.taracot-messaging-area {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 400px;
}
.taracot-send-msg-btn, #social_message_text {
    margin-top: 5px;
}
.taracot-messages-title-avatar {
    width: 35px;
    height: 35px;
}
.taracot-messaging-area {
    overflow: auto;
}
.taracot-social-msg-avatar {
    width:35px;
    display: inline-block;
    position: relative;
    float: left;
}
.taracot-social-msg-avatar-image {
    width: 35px;
    height: 35px;
}
.taracot-social-msg-body {
    margin-left:45px;
    position: relative;
    margin-bottom: 10px;
}
.taracot-social-msg-username {
    font-weight: bold;
}
.taracot-social-msg-meta {
    font-size: 80%;
    color: #666;
}
.taracot-conv-card > header {
    padding: 0px;
}
.taracot-conv-card {
    border-left: 3px solid transparent;
}
.taracot-conv-card > .uk-comment-header {
    padding: 3px 0 3px 3px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 5px;
}
.taracot-conv-card > .uk-comment-header:hover {
    background-color: #eee;
    border: 1px solid #ccc;
}
.taracot-user-search-card {
    border-left: 3px solid transparent;
}
.taracot-user-search-card > .uk-comment-header {
    padding: 3px 0 3px 3px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 5px;
}
.taracot-user-search-card > .uk-comment-header:hover {
    background-color: #eee;
    border: 1px solid #ccc;
}
.taracot-nav-badge {
    margin-right: -10px;
    min-width: 25px;
}
.taracot-conv-card-unread > .uk-comment-header, .taracot-conv-card-unread > .uk-comment-header:hover {
    background-color: #FFE4B2;
    padding: 3px 0 3px 3px;
    border: 1px solid #FFA500;
}
.taracot-user-online {
    color: #64A45D;
}
.taracot-messaging-area-typing {
    color: #666;
    font-size: 80%;
    margin-top: 6px;
    margin-bottom: 6px;
}
.taracot-relative-wrap {
    position: relative;
}
.taracot-user-online-flag-small {
    font-size: 50%;
    position: absolute;
    left: 20px;
    top: 18px;
}