.uk-notify {
    z-index: 5000;
}

.uk-notify-message {
    text-align: center;
    color: #fff;
}

.uk-notify-message-danger {
    background: red;
}

.uk-notify-message-success {
    background: green;
}

.taracot-chat-tabs {
    padding: 15px;
    border: 1px solid #eee;
    border-top: 0;
}

.taracot-chat-box-area {
    overflow: auto;
}

.taracot-chat-reply-wrap {
    padding: 15px 0 15px 0;
}

.taracot-chat-msg-timestamp-normal {
    color: #666;
    font-size: 70%;
}

.taracot-chat-msg-timestamp {
    margin-right: 8px;
    margin-left: 5px;
}

.taracot-chat-system-msg,
.taracot-chat-system-cmd,
.taracot-chat-msg {
    margin-bottom: 4px;
}

.taracot-chat-system-msg,
.taracot-chat-system-cmd {
    font-weight: bold;
}

.taracot-chat-system-msg {
    color: #4E73E3;
}

.taracot-chat-system-cmd {
    color: #F8970D;
}

.taracot-chat-system-msg-danger {
    font-weight: bold;
    color: #C51E3C;
}

@-webkit-keyframes envAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes envAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.taracot-support-unread {
    animation: envAnimation 2s linear infinite;
    -webkit-animation: envAnimation 2s linear infinite;
    color: #FCB417;
    padding-right: 10px;
}

.taracot-chat-users-online {
    padding: 10px;
    margin-top: 36px;
    border: 1px solid #eee;
    overflow: auto;
}

.taracot-chat-user-online {
    cursor: pointer;
    padding: 3px 3px 3px 8px;
}

.taracot-chat-user-online:hover {
    background: #eee;
}

.taracot-loading {
    position: absolute;
    background: #fff;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 1000;
}

.taracot-chat-tab-close {
    color: #999;
    font-size: 90%;
}

.taracot-chat-tab-close:hover {
    color: #666;
}

.taracot-chat-face-angel,
.taracot-chat-face-crying,
.taracot-chat-face-devilish,
.taracot-chat-face-glasses,
.taracot-chat-face-grin,
.taracot-chat-face-kiss,
.taracot-chat-face-monkey,
.taracot-chat-face-plain,
.taracot-chat-face-sad,
.taracot-chat-face-smile-big,
.taracot-chat-face-smile,
.taracot-chat-face-surprise,
.taracot-chat-face-wink {
    display: inline-block;
    background: url('/modules/chat/images/emoticons.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.taracot-chat-face-angel {
    background-position: -0px -0px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-crying {
    background-position: -16px -0px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-devilish {
    background-position: -32px -0px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-glasses {
    background-position: -0px -16px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-grin {
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-kiss {
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-monkey {
    background-position: -0px -32px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-plain {
    background-position: -16px -32px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-sad {
    background-position: -32px -32px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-smile-big {
    background-position: -0px -48px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-smile {
    background-position: -16px -48px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-surprise {
    background-position: -32px -48px;
    width: 16px;
    height: 16px;
}

.taracot-chat-face-wink {
    background-position: -0px -64px;
    width: 16px;
    height: 16px;
}
