.taracot-search-res-title, .taracot-search-res-title:hover, .taracot-search-res-title:active, .taracot-search-res-title:focus {
    color: #2A5DB0;
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
}
.taracot-search-res-link, .taracot-search-res-link:hover, .taracot-search-res-link:active, .taracot-search-res-link:focus {
    color: green;
    text-decoration: none;
    font-size: 80%;
}
.taracot-seach-results-margin {
    margin-bottom: 25px;
    margin-top: 25px;
}
.taracot-loading {
    position: absolute;
    background: #fff;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}