.taracot-loading {
	position: absolute;
	background: #fff;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	z-index: 1000;
}
.uk-notify {
	z-index: 5000;
}
.uk-notify-message {
	text-align: center;
	color: #fff;
}
.uk-notify-message-danger {
	background: red;
}
.uk-notify-message-success {
	background: green;
}
.taracot-red-asterisk {
	color: red;
	font-weight: bold;
}
.uk-form-help-block {
	font-size: 80%;
	color: #666;
}
.taracot-filename-error {
	color: red;
	font-weight: bold;
}
#taracot_table > tbody > tr {
	cursor: pointer;
}
.taracot-support-message-box {
	border-top: 0;
	background: #fff;
}
.taracot-support-attachment {
	font-size: 80%;
}
.taracot-support-btn-margin {
	margin-top: 30px;
	margin-bottom: 30px;
}
.taracot-support-username {
	padding-left: 10px;
	font-size: 80%;
	font-weight: bold;
}
.taracot-support-reply-date {
	font-weight: normal;
	font-size: 90%;
	color: #666;
}
.taracot-subj-box {
	background: #ccc;
}
#taracot_table > tbody > tr > td, #taracot_table > thead > tr > th {
	white-space: nowrap;
}