.uk-notify {
    z-index: 5000;
}

.uk-notify-message {
    text-align: center;
    color: #fff;
}

.uk-notify-message-danger {
    background: red;
}

.uk-notify-message-success {
    background: green;
}

.taracot-red-asterisk {
    color: red;
    font-weight: bold;
}

.uk-form-help-block {
    font-size: 80%;
    color: #666;
}

.taracot-filename-error {
    color: red;
    font-weight: bold;
}

#taracot_table > tbody > tr {
    cursor: pointer;
}

.taracot-support-message-box {
    border-top: 0;
    background: #fff;
}

.taracot-support-attachment {
    font-size: 80%;
}

.taracot-support-btn-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.taracot-support-username {
    padding-left: 10px;
    font-size: 80%;
    font-weight: bold;
}

.taracot-support-reply-date {
    font-weight: normal;
    font-size: 90%;
    color: #666;
}

@-webkit-keyframes envAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes envAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.taracot-support-unread {
    animation: envAnimation 2s linear infinite;
    -webkit-animation: envAnimation 2s linear infinite;
    color: #FCB417;
    padding-right: 10px;
}

#taracot_table > tbody > tr > td, #taracot_table > thead > tr > th {
	white-space: nowrap;
}
