<!DOCTYPE html>
<html dir="ltr" class="uk-height-1-1">
    <head>
    	<meta charset="utf-8">
        <title>!{root.lang.__("control_panel")}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/uikit.min.css">
        <link rel="stylesheet" href="/modules/cp/css/main.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/uikit.min.js"></script> 
        <script src="/js/helper.js"></script> 
    </head>
    <body class="uk-height-1-1">
        <nav class="cp-navbar uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">
                <a class="uk-navbar-brand" href="/">TaracotJS</a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active taracot-cp-top-navbar"><a href="/cp">!{root.lang.__("dashboard")}</a></li>
                    <li><a href="#">Another one</a></li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent" data-uk-dropdown>
                            <a href="#" id="cp_logout_submenu"><b>User</b>: !{root.username}&nbsp;<i class="uk-icon-caret-down"></i></a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li><a href="/auth/logout">!{root.lang.__("logout")}</a></li>
                                </ul>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </div>            
        </nav>
        <script type="text/javascript">
            var _lang_vars = {
                ajax_failed: "!{root.lang.__("ajax_failed")}"
            }
        </script>
        <script src="/modules/cp/js/main.js"></script>
    </body>
</html>