<!DOCTYPE html>
<html dir="ltr">
    <head>
    	<meta charset="utf-8">
        <title>!{root.cp_lang.__("control_panel")}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/uikit.min.css">
        <link rel="stylesheet" href="/modules/cp/css/main.css">
        !{root.data.css}<script src="/js/jquery.min.js"></script> 
        <script src="/js/uikit.min.js"></script> 
        <script src="/js/helper.js"></script> 
    </head>
    <body>
        <nav class="cp-navbar uk-navbar uk-navbar-attached uk-margin-bottom">
            <div class="uk-container uk-container-center">
                <a class="uk-navbar-brand" href="/">TaracotJS</a>
                <ul class="uk-navbar-nav" id="taracot-modules">
                    <li class="uk-active taracot-cp-top-navbar taracot-module-menu-item" id="taracot-module-id-dashboard"><a href="/cp">!{root.cp_lang.__("dashboard")}</a></li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent" data-uk-dropdown>
                            <a href="#" id="cp_logout_submenu"><b>User</b>: !{root.username}&nbsp;<i class="uk-icon-caret-down"></i></a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li><a href="/auth/logout">!{root.cp_lang.__("logout")}</a></li>
                                </ul>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </div>            
        </nav>
        <div class="uk-container uk-container-center">
        !{root.data.body}
        </div>
        <script type="text/javascript">
            var _modules = !{root.modules};
            for (var i = 0; i < _modules.length; i++) {
                $('#taracot-modules').append('<li id="taracot-module-id-' + _modules[i].id + '" class="taracot-module-menu-item"><a href="' + _modules[i].prefix + '">' + _modules[i].name + '</a></li>');
            }            
            $('.taracot-module-menu-item').removeClass('uk-active');
            $('#taracot-module-id-!{root.active_module}').addClass('uk-active');
        </script>
        <script src="/modules/cp/js/main.js"></script>
    </body>
</html>