<div id="taracot_dlg_update" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h1>!{root.lang.__('update_system')}</h1>
        </div>
        <div id="taracot-update-progress">
            <p>!{root.lang.__('system_update_notice')}</p>
            <p>!{root.lang.__('restart_notice')}</p>
            <p>!{root.lang.__('multiple_instances_notice')}</p>
        </div>
        <div class="uk-modal-footer taracot-dlg-update-footer">
            <button class="uk-button uk-button-danger" id="taracot_btn_update_start">!{root.lang.__('start_update')}</button>&nbsp;
            <button class="uk-button uk-modal-close">!{root.lang.__('close')}</button>
        </div>
    </div>
</div>
<div id="taracot_dlg_reset" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h1>!{root.lang.__('reset_system')}</h1>
        </div>
        <div id="taracot-restart-progress">
            <p>!{root.lang.__('system_reset_notice')}</p>
        </div>
        <div class="uk-modal-footer taracot-dlg-reset-footer">
            <button class="uk-button uk-button-danger" id="taracot_btn_reset">!{root.lang.__('reset')}</button>&nbsp;
            <button class="uk-button uk-modal-close">!{root.lang.__('close')}</button>
        </div>
    </div>
</div>
<h1>!{root.lang.__('taracot_dashboard')}</h1>
<div class="uk-margin-bottom">!{root.lang.__('up_and_running')}</div>
<ul class="uk-tab" data-uk-tab="{connect:'#dashboard_tabs'}">
    <li><a href="">!{root.lang.__('server')}</a>
    </li>
    <li><a href="" id="tab_stats">!{root.lang.__('statistics')}</a>
    </li>
    <li><a href="">!{root.lang.__('updates')}<i class="uk-icon-exclamation-circle taracot-updates-exclamation"></i><i class="uk-icon-exclamation-circle taracot-updates-exclamation-grey" style="display:none"></i></a>
    </li>
</ul>
<ul id="dashboard_tabs" class="uk-switcher taracot-cp-top-tabs">
    <li>
        <canvas id="taracot_statistics" class="uk-margin-top" height="100" style="display:none"></canvas>
        <h2>!{root.lang.__('config')}</h2>
        <table class="uk-table uk-table-hover">
            <tbody>
                <tr>
                    <td style="width:30%">!{root.lang.__('current_version')}</td>
                    <td style="width:70%">
                        <span class="uk-badge uk-badge-notification uk-badge-success">!{root.config.taracotjs}</span>
                    </td>
                </tr>
                <tr>
                    <td>!{root.lang.__('redis')}</td>
                    <td>!{root.config.redis.host}:!{root.config.redis.port}</td>
                </tr>
                <tr>
                    <td>!{root.lang.__('default_layout')}</td>
                    <td>!{root.config.layouts.default}</td>
                </tr>
            </tbody>
        </table>
        <h2>!{root.lang.__('system')}</h2>
        <table class="uk-table uk-table-hover">
            <tbody>
                <tr>
                    <td style="width:30%">!{root.lang.__('hostname')}</td>
                    <td style="width:70%">!{root.os.hostname}</span>
                    </td>
                </tr>
                <tr>
                    <td>!{root.lang.__('os')}</td>
                    <td>!{root.os.os_type} / !{root.os.os_platform} / !{root.os.os_release}</span>
                    </td>
                </tr>
                <tr>
                    <td>!{root.lang.__('cpu_arch')}</td>
                    <td>!{root.os.cpu_arch}</span>
                    </td>
                </tr>
                <tr>
                    <td>!{root.lang.__('memory_free_total')}</td>
                    <td>!{root.os.freemem} / !{root.os.totalmem}</span>
                    </td>
                </tr>
                <tr>
                    <td>!{root.lang.__('load average')}</td>
                    <td>!{root.os.loadavg}</span>
                    </td>
                </tr>
                <tr>
                    <td>!{root.lang.__('actions')}</td>
                    <td><button class="uk-button uk-button-small uk-button-danger" id="taracot_btn_reset_dialog">!{root.lang.__('restart_system')}</button></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li>
        <h2 id="h2_stat">!{root.lang.__('statistics')}</h2>
        <div class="uk-grid uk-margin-top">
            <div class="uk-width-1-1 uk-margin-large-bottom" id="taracot_stats_wrap">
                <i class="uk-icon uk-icon-square" style="color:#355D80"></i>&nbsp;!{root.lang.__('number_of_hits')}
                <br>
                <i class="uk-icon uk-icon-square" style="color:#FF4C36"></i>&nbsp;!{root.lang.__('number_of_visitors')}
                <br>
                <div id="taracot_statistics_wrap"></div>
                <div class="uk-margin-top"><small>!{root.lang.__('chart_hint')}</small>
                </div>
            </div>
        </div>
    </li>
    <li>
        <h2>!{root.lang.__('updates')}</h2>
        <div class="uk-overflow-container">!{root.updates_table}</div>
        <div class="taracot_updates_buttons_wrap">
            <button class="uk-button uk-button-danger" id="taracot_btn_update">!{root.lang.__('update_modules')}: !{root.total_updates_avail}</button>
        </div>
    </li>
</ul>
<script>
var days = !{
        root.days
    },
    months = !{
        root.months
    },
    visitors = !{
        root.visitors
    },
    hits = !{
        root.hits
    },
    total_updates_avail = !{
        root.total_updates_avail
    },
    _lang_vars = {
        ajax_failed: "!{root.lang.__('ajax_failed')}",
        no_stats_avail: "!{root.lang.__('no_stats_avail')}",
        initializing_update: "!{root.lang.__('initializing_update')}",
        update_started: "!{root.lang.__('update_started')}",
        cannot_get_update_status: "!{root.lang.__('cannot_get_update_status')}",
        update_progress: "!{root.lang.__('update_progress')}",
        update_complete: "!{root.lang.__('update_complete')}",
        update_failed: "!{root.lang.__('update_failed')}",
        restarting: "!{root.lang.__('restarting')}",
        restart_failed: "!{root.lang.__('restart_failed')}"
    };
</script>
<script src="/js/Chart.min.js"></script>
<script src="/modules/cp/js/cp.min.js"></script>
