<div class="uk-button-dropdown" data-uk-dropdown>
    <button class="uk-button uk-button-small uk-button-link taracot-lang-block-select"><img src="/images/blank.gif" class="flag flag-!{root.current_lang}" alt="" /><span class="uk-hidden-small">&nbsp;&nbsp;!{root.current_lang_full}&nbsp;<i class="uk-icon-caret-down"></i></span>
    </button>
    <div class="uk-dropdown uk-dropdown-small">
        <ul class="uk-nav uk-nav-dropdown" style="text-align:left">
            !{root.lang_list_html}
        </ul>
    </div>
</div>
