<div class="taracot-comment" style="margin-left:!{root.level}px" id="taracot_comment_!{root.comment_id}">
	<div class="taracot-comment-avatar"><img src="!{root.avatar_url}" alt="" class="taracot-comment-avatar-image uk-border-rounded"></div>
	<div class="taracot-comment-body">
		<div class="taracot-comment-username">!{root.username}!{root.delete_btn}</div>
		<div class="taracot-comment-meta">!{root.timestamp}</div>
		<div class="taracot-comment-text">!{root.comment}</div>
		<div class="taracot-comment-reply"><span id="comment_!{root.comment_id}" class="taracot-comment-reply-link">[ !{root.reply_link} ]</span></div>
	</div>
</div>