<div class="taracot-blog-post-title">!{root.data.post_title}</div>
<div class="taracot-blog-post-area">
    <ul class="uk-breadcrumb">
        <li><a href="/blog">!{root.data.blog_text}</a>
        </li>
        <li><a href="/blog/area/!{root.data.post_area_id}">!{root.data.post_area}</a>
        </li>
    </ul>
</div>!{root.data.buttons}
<div class="taracot-blog-post-content">!{root.data.post_content}</div>
<div class="taracot-blog-post-keywords"><i class="uk-icon-tag"></i>&nbsp;!{root.data.post_keywords}</div>
<div class="taracot-blog-post-badges">!{root.data.post_badges}</div>
!{root.data.comments_form}
!{root.data.comments_flow}