.taracot-loading {
	position: absolute;
	background: #fff;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
th.taracot_table_sortable {
	cursor: pointer;
}