.taracot-loading,
.taracot-progress {
	position: absolute;
	background: #fff;
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	z-index: 1000;
}
.taracot-buttons-area {
	padding: 10px;
	margin-top: 30px;
	border-top: 1px solid #ddd;
	text-align: right;
}
th.taracot_table_sortable {
	cursor: pointer;
}
.uk-form-help-block {
	color: #666;
	font-size: 80%;
}
.taracot-btn-margin {
	margin-top: 30px;
}
.taracot-extra-small-text-field {
	width:50px;
}
.taracot-h1-hint-margin {
	margin-bottom: 40px;
	color: #666;
}
.taracot-red-asterisk {
	color: red;
	font-weight: bold;
}
.billing-trans-badge {
	width: 17px;
	height: 17px;
	line-height: 15px;
}
.billing-trans-badge > i {
	font-size: 9px;
}