<h1>!{root.lang.__('module_name')}</h1>
<div id="warehouse_item_dlg" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1 class="uk-modal-header">!{root.lang.__('select_item')}</h1>
        <div class="uk-panel taracot-warehouse-items-panel">
            <ul class="uk-list uk-list-line" id="warehouse_items"></ul>
        </div>
        <div class="uk-modal-footer">
            <button class="uk-button uk-modal-close uk-margin-top uk-button-danger">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div id="warehouse_coll_dlg" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1 class="uk-modal-header">!{root.lang.__('select_coll')}</h1>
        <div class="uk-panel taracot-warehouse-colls-panel">
            <ul class="uk-list uk-list-line" id="warehouse_colls"></ul>
        </div>
        <div class="uk-modal-footer">
            <button class="uk-button uk-modal-close uk-margin-top uk-button-danger">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div id="taracot_warehouse_list" class="uk-width-1-1">
    <div class="uk-float-left uk-margin-bottom">
        <button class="uk-button uk-button-success uk-float-left" id="btn_add_item"><i class="uk-icon-plus"></i>
            <span class="uk-hidden-small">&nbsp;!{root.lang.__('add')}</span>
        </button>&nbsp;&nbsp;
        <div class="uk-button-group">
            <button class="uk-button" id="btn_select_all" data-uk-tooltip title="!{root.lang.__('select_all')}"><i class="uk-icon-square"></i>
            </button>
            <button class="uk-button" id="btn_select_none" data-uk-tooltip title="!{root.lang.__('select_none')}"><i class="uk-icon-square-o"></i>
            </button>
            <button class="uk-button uk-button-danger" id="btn_delete_selected"><i class="uk-icon-trash-o"></i>
                <span class="uk-hidden-small">&nbsp;!{root.lang.__('delete_selected')}</span>
            </button>
        </div>&nbsp;&nbsp;
        <button class="uk-button" id="btn_categories"><i class="uk-icon-folder-o"></i>
            <span class="uk-hidden-small">&nbsp;!{root.lang.__('categories')}</span>
        </button>
    </div>
    <div class="uk-form uk-float-right">
        <div class="uk-form-icon"><i class="uk-icon-search"></i>
            <input type="text" class="uk-form-width-medium" placeholder="!{root.lang.__('search_field')}" id="taracot_table_filter">
        </div>
    </div>
    <br>
    <div class="uk-width-1-1 uk-overflow-container">
        <table class="uk-table uk-table-striped uk-table-hover taracot-data-table" id="taracot_table">
            <thead>
                <tr>
                    <th class="taracot_table_sortable" rel="taracot_table_sortable_pcategory" style="width:150px">!{root.lang.__('folder_and_filename')}
                        <span class="taracot-sort-marker">&nbsp;<i class="uk-icon-sort-asc"></i>
                    </span>
                    </th>
                    <th class="taracot_table_sortable" rel="taracot_table_sortable_ptitle">!{root.lang.__('ptitle')}</th>
                    <th class="taracot_table_sortable" rel="taracot_table_sortable_ptitle" style="width:120px">!{root.lang.__('locked_by')}</th>
                    <th style="width:122px;text-align:center">!{root.lang.__('actions')}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="taracot-loading uk-hidden uk-vertical-align uk-text-center">
        <div class="uk-vertical-align-middle">
            <img src="/modules/user/images/loading_36x36.gif" width="36" height="36" style="width:36px;height:36px" alt="">
        </div>
    </div>
    <div id="taracot_table_pagination"></div>
</div>
<div id="taracot_warehouse_edit" class="uk-hidden">
    <h2 id="taracot_warehouse_edit_action"></h2>
    <div class="taracot-margin-medium">!{root.lang.__('taracot_warehouse_edit_hint')}</div>
    <ul class="uk-tab" id="taracot_form_lang_tabs" data-uk-tab>
        <li class="uk-disabled"><a href="#">!{root.lang.__('language')}:</a>
        </li>
        <li></li>
    </ul>
    <div class="uk-panel uk-panel-box taracot-edit-panel">
        <div class="uk-form uk-form-horizontal">
            <h3 class="taracot-h3-underilne uk-margin-bottom">!{root.lang.__('main_info')}</h3>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pfilename">!{root.lang.__('filename')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="pfilename" class="uk-form-width-small taracot-page-edit-form-control-core">
                    <p class="uk-form-help-block">!{root.lang.__('pfilename_hint')}</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pcategory">!{root.lang.__('folder')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="pcategory" class="uk-form-width-medium taracot-page-edit-form-control-core" value="/">&nbsp;
                    <button class="uk-button" id="btn-select-folder">...</button>
                    <input type="hidden" id="pcategory_id">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="ptitle">!{root.lang.__('ptitle')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="ptitle" class="uk-form-width-large taracot-page-edit-form-control">
                    <p class="uk-form-help-block">!{root.lang.__('ptitle_hint')}</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="ptitle">!{root.lang.__('pshortdesc')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="pshortdesc" class="uk-form-width-large taracot-page-edit-form-control">
                    <p class="uk-form-help-block">!{root.lang.__('pshortdesc_hint')}</p>
                </div>
            </div>
            <h3 class="taracot-h3-underilne uk-margin-bottom">!{root.lang.__('warehouse')}</h3>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pamount">!{root.lang.__('amount')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="pamount" class="uk-form-width-small taracot-page-edit-form-control-core">
                    <p class="uk-form-help-block">!{root.lang.__('pamount_hint')}</p>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls uk-margin-bottom">
                    <label>
                        <input type="checkbox" id="pamount_unlimited">&nbsp;!{root.lang.__('pamount_unlimited')}</label>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pprice">!{root.lang.__('price')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="pprice" class="uk-form-width-small taracot-page-edit-form-control-core">&nbsp;
                    <select id="pcurs" class="uk-form-width-small taracot-page-edit-form-control-core"></select>
                    <p class="uk-form-help-block">!{root.lang.__('pprice_hint')}</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pweight">!{root.lang.__('weight')}&nbsp;
                    <span class="taracot-field-req">*</span>
                </label>
                <div class="uk-form-controls">
                    <input type="text" id="pweight" class="uk-form-width-small taracot-page-edit-form-control-core">
                    <p class="uk-form-help-block">!{root.lang.__('pweight_hint')}</p>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">!{root.lang.__('images')}</label>
                <div class="uk-form-controls">
                    <div>
                        <button class="uk-button uk-button-small" id="btn_images_upload"><i class="uk-icon uk-icon-plus"></i>&nbsp;!{root.lang.__('upload_image')}
                        </button>&nbsp;
                        <button class="uk-button uk-button-small uk-button-danger" id="btn_images_delete"><i class="uk-icon uk-icon-trash-o"></i>
                        </button>&nbsp;
                        <div class="uk-progress" id="images_upload_progress" style="display:none">
                            <div class="uk-progress-bar uk-progress-striped uk-active" id="images_upload_progress_bar" style="width:0%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"></label>
                <div class="uk-form-controls">
                    <div id="files_grid" class="uk-panel uk-panel-box"></div>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">!{root.lang.__('chars')}</label>
                <div class="uk-form-controls">
                    <div>
                        <button class="uk-button uk-button-small" id="btn_add_chars"><i class="uk-icon uk-icon-plus"></i>&nbsp;!{root.lang.__('new_property')}
                        </button>&nbsp;
                        <button class="uk-button uk-button-small" id="btn_add_coll"><i class="uk-icon uk-icon-plus"></i>&nbsp;!{root.lang.__('new_collection')}
                        </button>
                        <div id="warehouse_chars" class="uk-margin-top"></div>
                    </div>
                </div>
            </div>
            <h3 class="taracot-h3-underilne uk-margin-bottom">!{root.lang.__('keywords_and_description')}</h3>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pkeywords">!{root.lang.__('pkeywords')}</label>
                <div class="uk-form-controls">
                    <input type="text" id="pkeywords" class="uk-form-width-large taracot-page-edit-form-control">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="pdesc">!{root.lang.__('pdesc')}</label>
                <div class="uk-form-controls">
                    <textarea rows="3" id="pdesc" class="uk-form-width-large taracot-page-edit-form-control"></textarea>
                </div>
            </div>
            <h3 class="taracot-h3-underilne uk-margin-bottom">!{root.lang.__('editor')}</h3>
            <div class="uk-form-row">
                <textarea rows="3" id="pcontent" class="uk-form-width-large"></textarea>
            </div>
            <div class="uk-margin-top">
                <button class="uk-button uk-button-success" id="btn_edit_save">!{root.lang.__('btn_save')}</button>
                <button class="uk-button uk-button-danger" id="btn_edit_cancel">!{root.lang.__('btn_cancel')}</button>
            </div>
        </div>
    </div>
</div>
<div id="taracot_warehouse_categories_edit_dlg" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1 id="taracot_warehouse_categories_edit_h1" class="uk-modal-header"></h1>
        <div class="uk-form uk-form-stacked" id="taracot_categories_edit_form">
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <label class="uk-form-label" for="fname">!{root.lang.__('fname')}</label>
                    <input type="text" id="fname" class="uk-form-width-medium taracot-categories-edit-control">
                </div>
            </div>
        </div>
        <div class="uk-margin-top uk-modal-footer">
            <button class="uk-button" id="btn_categories_edit_save">!{root.lang.__('save')}</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div id="taracot_warehouse_categories_select_dlg" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1 class="uk-modal-header">!{root.lang.__('select_folder')}</h1>
        <div id="jstree_categories_select"></div>
        <div class="uk-margin-top uk-modal-footer">
            <button class="uk-button" id="btn_categories_select">!{root.lang.__('select')}</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="button">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div id="dlg_lock" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1 class="uk-modal-header">!{root.lang.__('document_locked')}</h1>
        <div>
            <p>!{root.lang.__('document_locked_desc')}</p>
            <p>!{root.lang.__('locked_by')}: <span id="document_locked_by"></span>
            </p>
        </div>
        <div class="uk-margin-top uk-modal-footer">
            <button class="uk-button uk-button-danger" id="btn_unlock">!{root.lang.__('unlock_document')}</button>
            <button class="uk-button uk-modal-close" type="button">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div id="dlg_unsaved" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1 class="uk-modal-header">!{root.lang.__('document_unsaved')}</h1>
        <div>
            <p>!{root.lang.__('document_unsaved_desc')}</p>
            <p>!{root.lang.__('document_unsaved_title')}: <span id="document_unsaved_title"></span>
            </p>
        </div>
        <div class="uk-margin-top uk-modal-footer">
            <button class="uk-button uk-button-success" id="btn_restore">!{root.lang.__('restore_document')}</button>
            <button class="uk-button uk-modal-close" type="button" id="btn_dont_restore">!{root.lang.__('cancel')}</button>
        </div>
    </div>
</div>
<div id="taracot_warehouse_categories" class="uk-hidden">
    <h2>!{root.lang.__('categories')}</h2>
    <div id="taracot_categories_controls" class="uk-margin-bottom">
        <div class="uk-button-group">
            <button class="uk-button uk-button-success taracot-treectl-button" id="btn-tree-new" data-uk-tooltip title="!{root.lang.__('new_tree_node')}"><i class="uk-icon-plus"></i>
            </button>
            <button class="uk-button uk-button taracot-treectl-button" id="btn-tree-edit" data-uk-tooltip title="!{root.lang.__('edit_tree_node')}"><i class="uk-icon-edit"></i>
            </button>
            <button class="uk-button uk-button uk-button-danger taracot-treectl-button" id="btn-tree-delete" data-uk-tooltip title="!{root.lang.__('delete_tree_node')}"><i class="uk-icon-trash-o"></i>
            </button>
        </div>
    </div>
    <div class="uk-margin-top uk-margin-bottom">
        <span class="uk-badge uk-badge-warning">!{root.lang.__('hint')}</span>&nbsp;!{root.lang.__('categories_edit_hint')}</div>
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box">
                <div id="jstree_categories"></div>
                <div id="jstree_error" class="uk-hidden"></div>
                <div id="jstree_loading" class="uk-hidden">
                    <img src="/modules/user/images/loading_36x36.gif" width="36" height="36" style="width:36px;height:36px" alt="">&nbsp;!{root.lang.__('loading_tree_data')}</div>
            </div>
        </div>
    </div>
    <button class="uk-button uk-button-success uk-margin-top taracot-tree-save-controls" id="btn-tree-save">!{root.lang.__('save_changes')}</button>
    <button class="uk-button uk-margin-top uk-button-danger taracot-tree-save-controls" id="btn-tree-cancel">!{root.lang.__('cancel')}</button>
    <button class="uk-button uk-margin-top uk-button-danger taracot-tree-save-controls" id="btn-tree-clear">!{root.lang.__('clear')}</button>
</div>
<div class="taracot-progress uk-hidden uk-vertical-align uk-text-center">
    <div class="uk-vertical-align-middle">
        <img src="/modules/user/images/loading_36x36.gif" width="36" height="36" style="width:36px;height:36px" alt="">
    </div>
</div>
<script type="text/javascript">
var _lang_vars = {
    ajax_failed: "!{root.lang.__('ajax_failed')}",
    form_err_title: "!{root.lang.__('form_err_title')}",
    form_err_msg: "!{root.lang.__('form_err_msg')}",
    delete_err_msg: "!{root.lang.__('delete_err_msg')}",
    del_confirm: "!{root.lang.__('delete_confirm')}",
    save_success: "!{root.lang.__('save_success')}",
    no_res: "!{root.lang.__('no_results_in_table')}",
    action_edit: "!{root.lang.__('action_edit')}",
    action_add: "!{root.lang.__('action_add')}",
    new_folder: "!{root.lang.__('new_folder')}",
    edit_folder: "!{root.lang.__('edit_folder')}",
    invalid_folder: "!{root.lang.__('invalid_folder')}",
    duplicate_folder: "!{root.lang.__('duplicate_folder')}",
    confirm_delete_tree: "!{root.lang.__('confirm_delete_tree')}",
    confirm_categories_edit_cancel: "!{root.lang.__('confirm_categories_edit_cancel')}",
    confirm_categories_edit_clean: "!{root.lang.__('confirm_categories_edit_clean')}",
    categories_save_success: "!{root.lang.__('categories_save_success')}",
    form_contain_errors: "!{root.lang.__('form_contain_errors')}",
    page_save_success: "!{root.lang.__('page_save_success')}",
    control_panel: "!{root.lang.__('control_panel')}"
};
var locales = !{
        root.locales
    },
    current_lng = "!{root.current_locale}",
    current_username = "!{root.auth.username}",
    categories_preload = !{
        root.categories
    },
    save_title = $(document).find("title").text(),
    categories_preload = !{
        root.categories
    },
    whitems = !{
        root.whitems
    },
    whcollections = !{
        root.whcollections
    },
    whcurs = !{
        root.whcurs
    };
for (var i = 0; i < locales.length; i++)
    $('#taracot_categories_edit_form').append('<div class="uk-form-row"><div class="uk-form-controls"><label class="uk-form-label" for="flang_' + locales[i] + '">!{root.lang.__("ftitle")} (' + locales[i] + ')</label><input type="text" id="flang_' + locales[i] + '" class="uk-form-width-large taracot-categories-edit-control"></div></div>');
for (var c = 0; c < whcurs.length; c++) $('#pcurs').append('<option value="' + whcurs[c].id + '">' + (whcurs[c][current_lng] || whcurs[c].id) + '</option>');
</script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>
<script src="/js/jstree/jstree.min.js"></script>
<script src="/js/plupload/plupload.full.min.js"></script>
<script src="/modules/warehouse/js/warehouse.min.js"></script>
